:root {
  --basic-bg-color: #262626;
  --basic-font-color: #fff;
  --gap: 2rem;
  --basic-font-family: Sentinel SSm A, Sentinel SSm B, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --tags-font-family: Gotham Narrow SSm A, Gotham Narrow SSm B, Rubik, Lato,
    Lucida Grande, Lucida Sans Unicode, Tahoma, Sans-Serif;
  --input-font-family: Operator Mono SSm A, Operator Mono SSm B, Source Code Pro,
    Menlo, Consolas, Monaco, monospace;

  --max-width: 1600px;
}
