:root {
  /** Colors: REF (2015 Palettes)https://www.w3schools.com/colors/colors_palettes.asp */
  /** TASK:A **/
  --white: #eaece5;
  --gray: #b2c2bf;
  --light: #c0ded9;
  --dark: #3b3a30;

  /** DUMMY */
  --bg-img-url: url("https://images.unsplash.com/photo-1514477917009-389c76a86b68?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1561&q=80");
}
