.eyecatch {
  background: url("../../assets/eyecatch.jpg");
  background-size: cover;
  height: 30em;
  width: 100%;
  display: grid;
  place-content: center;
}

.eyecatch__box {
  background-color: #efefefcc;
  font-size: 3em;
  width: 10em;
  height: 6em;
  line-height: 6em;
  text-align: center;
  display: grid;
}
