@import "https://fonts.googleapis.com/css?family=Kranky";
.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__text {
    font-weight: 700;
    font-family: "Kranky";
    font-size: 3rem;
    opacity: 0.4;
  }
  &__icons {
    font-size: 1.5rem;
  }
}
