@import "_colors";
@import "_navbar";
@import "_header";

.footer {
  background: $footer_bg_color;
}

.aside {
  background: $aside_bg_color;
}

.section {
  background: $section_bg_color;
}

.heading {
  background: $heading_bg_color;
}

.article {
  background: $article_bg_color;
}
