@import "_colors";
@import "_navbar";
@import "_header";
@import "_footer";

.main {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.aside {
  background: $aside_bg_color;
}

.section {
  background: $section_bg_color;
  padding: 1rem;
}

.heading {
  background: $heading_bg_color;
}

.article {
  background: $article_bg_color;
}
