:root {
  --article__min-height: 500px;
}

.article-card-large {
  display: grid;
  grid-template-columns: 50% 50%;
}

.article-card {
  color: #474747;
  background-color: white;
  border-radius: 8px;
  filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.24));
}

.article-thumbnail__wrap {
  position: relative;
}

.article-thumbnail__wrap a:after {
  pointer-events: none;
  content: "";
  position: absolute;
  left: 75%;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0) 0,
    hsla(0, 0%, 100%, 0.013) 8.1%,
    hsla(0, 0%, 100%, 0.049) 15.5%,
    hsla(0, 0%, 100%, 0.104) 22.5%,
    hsla(0, 0%, 100%, 0.175) 29%,
    hsla(0, 0%, 100%, 0.259) 35.3%,
    hsla(0, 0%, 100%, 0.352) 41.2%,
    hsla(0, 0%, 100%, 0.45) 47.1%,
    hsla(0, 0%, 100%, 0.55) 52.9%,
    hsla(0, 0%, 100%, 0.648) 58.8%,
    hsla(0, 0%, 100%, 0.741) 64.7%,
    hsla(0, 0%, 100%, 0.825) 71%,
    hsla(0, 0%, 100%, 0.896) 77.5%,
    hsla(0, 0%, 100%, 0.951) 84.5%,
    hsla(0, 0%, 100%, 0.987) 91.9%,
    #fff
  );
}

.article-thumbnail {
  border-radius: 8px;
  max-width: none;
  width: 120%;
  position: absolute;
  height: 100%;
  object-fit: cover;
  /* min-height: var(--article__min-height); */
}

.article-article {
  z-index: 10;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

.article-article h1 {
  margin: 0 0 1.5rem;
  line-height: 1.1;
  font-size: 2.5rem;
}

.article-article h1 a {
  color: black;
}
.article-article h1 a:hover {
  opacity: 0.66;
}

.article-article .tags a {
  color: #ff7a18;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.6rem;
  font-family: var(--tags-font-family);
}

.article-article .tags a:hover {
  opacity: 0.66;
}

.article-article .card-content {
  font-size: 1.2rem;
  line-height: 1.7;
  margin: 0 0 1.5rem;
}

.author-row {
  /* display: flex;
  flex-direction: row;
  align-items: center; */

  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
  gap: 0.5rem;
}

.author-name {
  font-weight: 700;
  color: black;
}

.author-name:hover {
  opacity: 0.66;
}

.avator {
  height: 40px;
  border-radius: 50%;
}
.avator:hover {
  opacity: 0.66;
}
