.button-full-width {
  width: 100%;
  display: block;
}

.button {
  text-align: center;
  background-color: #5e5e5e;
  color: white;
  border-radius: 4px;
  padding: 1rem;
  font-weight: 700;
  box-shadow: inset 1px 1px 0 #777, 0 2px 3px rgb(0 0 0 / 40%);
}

.button:hover {
  opacity: 0.6;
}
