.top-of-site-link {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.search-and-account {
  position: fixed;
  top: 1.2rem;
  right: 1.5rem;
  z-index: 1000;
}

.fiexed__header_magnifier {
}

.fixed__header_person {
}
