.site-header {
  padding: calc(var(--gap) / 2) 0;
  display: flex;
}

.main-nav {
  display: flex;
  align-items: center;
  height: 100%;
}

.main-nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.main-nav a {
  color: white;
  padding: 7px;
  border: 1px solid rgba(0, 0, 0, 0);
}

.main-nav a:hover {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.6);
}
