/* TASK:e-i */
.e-i {
  transition: transform 0.5s;
}
.e-i:hover {
  transform: translateX(50px);
  transition: 0.5s;
}

/* TASK:e-ii */
.e-ii {
  transition: transform 0.5s;
}
.e-ii:hover {
  transition: transform 0.5s;
  transform: scale(2);
}

/* TASK:e-iii */
.e-iii {
  transition: transform 0.5s;
}
.e-iii:hover {
  transition: transform 0.5s;
  transform: rotateX(180deg);
}

/* TASK:e-iv */
.e-iv {
  transition: transform 0.5s;
}
.e-iv:hover {
  transition: transform 0.5s;
  transform: rotateZ(180deg);
}

/* TASK:e-v */
.e-v {
  transition: transform 1s;
}
.e-v:hover {
  transition: transform 1s;
  transform: skewY(90deg);
}

/* TASK:e-vi */
@keyframes e-vi-animation {
  from {
    background-color: var(--warm);
  }
  to {
    background-color: var(--cold);
  }
}
.e-vi {
}
.e-vi:hover {
  animation-name: e-vi-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* TASK:e-vii */
@keyframes e-vii-animation {
  from {
    position: relative;
    left: -20px;
  }
  to {
    position: relative;
    left: 700px;
  }
}
.e-vii {
  animation-name: e-vii-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

/* TASK:e-viii-a */
.e-viii-a {
  transition: transform 0.5s;
}
.e-viii-a:hover {
  transition: transform 0.5s;
  transform: rotate3d(1, 2, 1, 60deg) scale(3);
}

/* TASK:e-viii-b */
@keyframes e-viii-b-animation {
  0% {
    transform: rotate(0deg);
    background-color: var(--warm);
  }
  100% {
    transform: rotate(360deg);
    background-color: var(--cold);
  }
}
.e-viii-b {
}
.e-viii-b:hover {
  animation-name: e-viii-b-animation;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.05, 0.25, 0.84, -0.21);
}
