h1 {
  font-size: 1em;
  color: var(--dark-blue);
}

.main {
  text-align: center;
}

.container {
  border: 1px solid var(--dark-blue);
  padding: 4em;
  display: inline-block;
  margin: 0 auto;
}

.row {
  text-align: center;
}

.box {
  display: inline-block;
  margin: 1em;
  /* TASK:B */
  height: 5em;
  width: 5em;

  /* TASK:C */
  border: 1px solid var(--dark-blue);
}
.box:hover {
  /* TASK:D */
  cursor: pointer;
}

.lightblue {
  background-color: var(--light-blue);
}

.darkblue {
  background-color: var(--dark-blue);
}

.lightred {
  background-color: var(--light-red);
}

.darkred {
  background-color: var(--dark-red);
}
