<link href="../css/carousel.css" rel="stylesheet" />
<div class="carousel">
  <a href="../pages/picture.html" class="carousel__link">
    <img src="../assets/example1.jpg" alt="example1" class="carousel__img" />
  </a>
  <a href="../pages/picture.html" class="carousel__link">
    <img src="../assets/example1.jpg" alt="example1" class="carousel__img" />
  </a>
  <a href="../pages/picture.html" class="carousel__link">
    <img src="../assets/example1.jpg" alt="example1" class="carousel__img" />
  </a>
  <a href="../pages/picture.html" class="carousel__link">
    <img src="../assets/example1.jpg" alt="example1" class="carousel__img" />
  </a>
  <a href="../pages/picture.html" class="carousel__link">
    <img src="../assets/example1.jpg" alt="example1" class="carousel__img" />
  </a>
  <a href="../pages/picture.html" class="carousel__link">
    <img src="../assets/example1.jpg" alt="example1" class="carousel__img" />
  </a>
  <a href="../pages/picture.html" class="carousel__link">
    <img src="../assets/example1.jpg" alt="example1" class="carousel__img" />
  </a>
  <a href="../pages/picture.html" class="carousel__link">
    <img src="../assets/example1.jpg" alt="example1" class="carousel__img" />
  </a>




</div>