<div class="app-panels">
  <a href="../pages/picture.html" class="app-panels__link w-200">
    <img src="../assets/example1.jpg" alt="example1" class="app-panels__img" />
  </a>
  <a href="../pages/picture.html" class="app-panels__link w-300">
    <img src="../assets/example1.jpg" alt="example1" class="app-panels__img" />
  </a>
  <a href="../pages/picture.html" class="app-panels__link w-100">
    <img src="../assets/example1.jpg" alt="example1" class="app-panels__img" />
  </a>
  <a href="../pages/picture.html" class="app-panels__link w-300">
    <img src="../assets/example1.jpg" alt="example1" class="app-panels__img" />
  </a>
  <a href="../pages/picture.html" class="app-panels__link w-200">
    <img src="../assets/example1.jpg" alt="example1" class="app-panels__img" />
  </a>
  <a href="../pages/picture.html" class="app-panels__link w-500">
    <img src="../assets/example1.jpg" alt="example1" class="app-panels__img" />
  </a>
  <a href="../pages/picture.html" class="app-panels__link w-400">
    <img src="../assets/example1.jpg" alt="example1" class="app-panels__img" />
  </a>
  <a href="../pages/picture.html" class="app-panels__link w-100">
    <img src="../assets/example1.jpg" alt="example1" class="app-panels__img" />
  </a>
</div>