.section-aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem;
  max-width: 40rem;

  &__title {
    //
  }

  &__avator {
    //
  }

  &__description {
    & > p {
      margin-bottom: 1rem;
    }
  }

  &__tags {
    width: 100%;
  }

  &__aboutme {
    //
  }
}

$size: 7rem;
.avator {
  width: $size;
  height: $size;
}

.description {
  &__paragraph {
  }
}
