.section-aboutme {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "title       title "
    "description avator";

  border: solid black 1px;

  &__title {
    grid-area: title;
  }

  &__avator {
    grid-area: avator;
  }

  &__description {
    grid-area: description;
  }
}

$size: 7rem;
.avator {
  width: $size;
  height: $size;
}

.description {
  &__paragraph {
  }
}
