/* UTIL------------------------------------------- */
.navbar {
  background-color: darkblue;
  color: white;
}
.navbar__list {
  list-style: none;
}
.navbar__list > li {
  display: inline;
}

/* A---------------------------------------------- */
.a__main-title {
  font-size: 54px;
  font-family: "Courier New", Courier, monospace;
}
.a__sub-title {
  font-size: 32px;
  font-family: sans-serif;
}

/* B---------------------------------------------- */
#b__main_title {
  color: blue;
}
#b__sub_title {
  color: lightblue;
}

/* C---------------------------------------------- */
.c__img-around-border {
  border: 1px solid black;
}

/* D---------------------------------------------- */
.d__table-around-border {
  border: 1px solid blue;
  border-collapse: collapse;
}

/* E---------------------------------------------- */
.e__table-header {
  font-weight: bold;
  text-align: center;
}

/* F---------------------------------------------- */
.f__upparcase > p::first-letter {
  font-size: 54px;
}

/* G---------------------------------------------- */
.g__firstline > p::first-line {
  background-color: lightblue;
}

/* H---------------------------------------------- */
.h__hover {
  display: inline-block;
}
.h__hover > li:hover {
  color: lightblue;
  cursor: pointer;
}

/* I---------------------------------------------- */
.i__sticky {
  position: sticky;
  top: 20px;
}

/* J---------------------------------------------- */
/* K---------------------------------------------- */
