/* A---------------------------------------------- */
.a__main-title {
  font-size: 54px;
  font-family: "Courier New", Courier, monospace;
}
.a__sub-title {
  font-size: 32px;
  font-family: sans-serif;
}

/* B---------------------------------------------- */
#b__main_title {
  color: blue;
}
#b__sub_title {
  color: lightblue;
}

/* C---------------------------------------------- */
/* D---------------------------------------------- */
/* E---------------------------------------------- */
/* F---------------------------------------------- */
/* G---------------------------------------------- */
/* H---------------------------------------------- */
/* I---------------------------------------------- */
/* J---------------------------------------------- */
/* K---------------------------------------------- */
