/* UTIL------------------------------------------- */
.navbar {
  background-color: var(--dark1);
  color: var(--light1);
}
.navbar__list {
  list-style: none;
}
.navbar__list > li {
  display: inline;
}

/* A---------------------------------------------- */
.a__main-title {
  font-size: 54px;
  font-family: "Courier New", Courier, monospace;
}
.a__sub-title {
  font-size: 32px;
  font-family: sans-serif;
}

/* B---------------------------------------------- */
#b__main_title {
  color: var(--dark1);
}
#b__sub_title {
  color: var(--light2);
}

/* C---------------------------------------------- */
.c__img-around-border {
  border: 1px solid var(--dark1);
}

/* D---------------------------------------------- */
.d__table-around-border {
  border: 1px solid var(--dark1);
  border-collapse: collapse;
}

/* E---------------------------------------------- */
.e__table-header {
  font-weight: bold;
  text-align: center;
}

/* F---------------------------------------------- */
.f__upparcase > p::first-letter {
  font-size: 54px;
}

/* G---------------------------------------------- */
.g__firstline > p::first-line {
  background-color: var(--light2);
}

/* H---------------------------------------------- */
.h__hover {
  display: inline-block;
}
.h__hover > li:hover {
  color: var(--light2);
  cursor: pointer;
}

/* I---------------------------------------------- */
.i__sticky {
  position: sticky;
  top: 20px;
}

/* J---------------------------------------------- */
/* K---------------------------------------------- */
:root {
  --light1: white;
  --light2: lightblue;
  --dark1: darkblue;
}
