/* e-i */
.e-i {
  transition: transform 0.5s;
}
.e-i:hover {
  transform: translateX(50px);
  transition: 0.5s;
}

/* e-ii */
.e-ii {
  transition: transform 0.5s;
}
.e-ii:hover {
  transition: transform 0.5s;
  transform: scale(2);
}

/* e-iii */
.e-iii {
  transition: transform 0.5s;
}
.e-iii:hover {
  transition: transform 0.5s;
  transform: rotateX(180deg);
}

/* e-iv */
.e-iv {
  transition: transform 0.5s;
}
.e-iv:hover {
  transition: transform 0.5s;
  transform: rotateZ(180deg);
}

/* e-v */
.e-v {
  transition: transform 1s;
}
.e-v:hover {
  transition: transform 1s;
  transform: skewY(90deg);
}

/* e-vi */
@keyframes e-vi-animation {
  from {
    background-color: var(--warm);
  }
  to {
    background-color: var(--cold);
  }
}
.e-vi {
}
.e-vi:hover {
  animation-name: e-vi-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* e-vii */
.e-vii {
}

/* e-vii */
.e-viii {
}
