h1 {
  font-size: 1em;
  color: var(--dark-blue);
}

.main {
  text-align: center;
}

.container {
  border: 1px solid var(--dark-blue);
  padding: 4em;
  display: inline-block;
  margin: 0 auto;
}

.row {
  text-align: center;
}

.box {
  display: inline-block;
  padding: 3em;
  margin: 1em;
}

.lightblue {
  background-color: var(--light-blue);
}

.darkblue {
  background-color: var(--dark-blue);
}

.lightred {
  background-color: var(--light-red);
}

.darkred {
  background-color: var(--dark-red);
}
