@import "color";

.layout-index {
  padding: 2rem;
  background: var(--dark-000);
  color: var(--light-000);
}

.layout-submit {
  min-height: 80vh;
}

.layout-picture {
  background: var(--dark-000);
  color: var(--light-000);
  padding: 0 1rem;

  &__comments {
    display: grid;
    gap: 10px;
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 540px) {
  .layout-picture {
    padding: 0;
  }
}
