@import "../../../sass/color";

.header {
  // general
  background: var(--dark-000);
  color: var(--light-200);
  height: 3rem;

  // flex
  display: flex;
  justify-content: space-between;

  &__logo-wrapper {
    display: grid;
    place-content: center;
    margin-left: 1rem;
  }

  &__logo-link {
    text-decoration: none;
    color: var(--vivid-color);
    transition: 0.5s;
    &:hover {
      opacity: 0.6;
    }
  }

  &__submit-link-wrapper {
    cursor: pointer;
    padding: 0.4rem 2rem;
    line-height: 2rem;
    transition: 0.5s;
    &:hover {
      opacity: 0.6;
    }
  }
  &__submit-link {
    text-decoration: none;
    color: var(--vivid-color);
  }
}
