@import "../../../sass/color";

$height: 3rem;
.header {
  // general
  background: var(--dark-000);
  color: var(--light-200);
  height: $height;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

  // flex
  display: flex;
  justify-content: space-between;

  &__logo-wrapper {
    display: grid;
    place-content: center;
    margin-left: 1rem;
  }

  &__logo-link {
    text-decoration: none;
    color: var(--vivid-color);
    transition: 0.5s;
    &:hover {
      opacity: 0.6;
    }
  }

  &__submit-link-wrapper {
    cursor: pointer;
    padding: 0.4rem 2rem;
    line-height: 2rem;
    transition: 0.5s;
    &:hover {
      opacity: 0.6;
    }
  }
  &__submit-link {
    text-decoration: none;
    color: var(--vivid-color);
  }

  &__fixed-padding {
    height: $height;
    width: 100%;
  }
}
