/*********
** Core
**********/
* {
  margin: 0;
  padding: 0;
}

:root {
  --header-color: red;
  --nav-color: lightblue;
  --section-color: lightgreen;
  --heading-color: red;
  --article-color: purple;
  --aside-color: gray;
  --footer-color: orange;
}

html {
  font-size: clamp(12px, calc(1rem + 0.25vw), 24px);
}

/*********
** Shared
**********/
.container {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  font-size: 1rem;
  transition: 1s;
}

/*********
** Items
**********/
.header {
  background: var(--header-color);
  grid-column: 1/3;
}

.nav {
  background: var(--nav-color);
  grid-column: 1/3;
}

.section {
  background: var(--section-color);
}

.heading {
  background: var(--heading-color);
  width: 90%;
  text-align: center;
}

.article {
  background: var(--article-color);
  width: 90%;
  text-align: center;
}

.aside {
  background: var(--aside-color);
}

.footer {
  grid-column: 1/3;
  background: var(--footer-color);
}

/*********
** Media Query
**********/
@media (max-width: 540px) {
  .section {
    grid-column: 1/3;
  }

  .aside {
    grid-column: 1/3;
  }
}

@media (max-width: 320px) {
  .aside {
    display: none !important;
  }
}
