@import "color";

.layout-index {
  padding: 2rem;
  background: var(--dark-000);
  color: var(--light-000);
}

.layout-submit {
  min-height: 80vh;
}

.layout-picture {
  // background: var(--dark-000);
  background: lightblue;
  color: var(--light-000);

  &__comments {
    display: grid;
    gap: 10px;
    padding-bottom: 5px;
  }
}
