.article-card-large {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 2rem;
}

.article-large-thumbnail {
  width: 120%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
