.footer-form-wrap {
  background: #434343;
  margin: -3rem 0 0;
  padding: 1.5rem;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  position: relative;
}

.footer-form-wrap:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 100%;
  width: 20px;
  height: 48px;
  background: #909090;
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

.footer-form-wrap h4 {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
  color: #ff7a18;
  text-transform: uppercase;
}

.footer-form-wrap label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}

.footer-form-wrap .text {
  font-size: 1rem;
  margin-bottom: 2rem;
}
