.section-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  border: 1px solid black;
  &__block {
    width: 30%;
  }
}

.project-description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  &__title {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    & > span {
      color: var(--cyan);
      opacity: 0.4;
    }
  }
  &__text {
    //
  }
  &__tags {
    display: flex;
    justify-content: center;
    gap: 2rem;
    color: var(--yellow);
    opacity: 0.4;
  }
}

.project-img {
  object-fit: cover;
}
